# Bỏ qua thư mục ảo
venv/
.venv/
env/

# Bỏ qua file biên dịch python
__pycache__/
*.pyc

# Bỏ qua file cấu hình môi trường 
.env

#other
db.sqlite3
.vscode/
.idea/

# Node modules
node_modules/
frontend/node_modules/